
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/147A88C4/sources/prop/INDEX
.Rproj.user/147A88C4/sources/prop/F3CCF138
.Rproj.user/147A88C4/sources/prop/D7FA2585
.Rproj.user/147A88C4/sources/prop/C445046
.Rproj.user/147A88C4/sources/per/t/9D27EB6-contents
.Rproj.user/147A88C4/sources/per/t/9D27EB6
.Rproj.user/147A88C4/sources/per/t/79CB8DF7-contents
.Rproj.user/147A88C4/sources/per/t/79CB8DF7
.Rproj.user/147A88C4/saved_source_markers
.Rproj.user/147A88C4/rmd-outputs
.Rproj.user/147A88C4/persistent-state
.Rproj.user/147A88C4/pcs/workbench-pane.pper
.Rproj.user/147A88C4/pcs/windowlayoutstate.pper
.Rproj.user/147A88C4/pcs/source-pane.pper
.Rproj.user/147A88C4/pcs/files-pane.pper
.Rproj.user/147A88C4/pcs/debug-breakpoints.pper
.Rproj.user/147A88C4/cpp-definition-cache
.Rproj.user/147A88C4/cpp-complilation-config
.Rproj.user/147A88C4/console06/INDEX001
.Rbuildignore
